@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Borel&family=Handjet:wght@300;500;700;800&family=Open+Sans:ital,wght@1,500&family=Poppins:ital,wght@1,200&family=Roboto:wght@500&display=swap');
body {
    margin: 0px;
    color: rgb(23, 1, 29);
    font-family: 'Roboto', sans-serif, serif;
    background-color: rgb(210, 182, 216);
}

.grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 1fr;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas: 
    "header header header header"
    ". lsidebar main ."
    ". lsidebar rsidebar ."
    "footer footer footer footer";

}
.header, .footer {
    color: rgb(11, 2, 27);
    background-color: rgb(199, 135, 194);
}

.main-content, .right-sidebar {
    background-color: rgb(238, 228, 232);
}

.header {
    font-weight: bolder;
    text-align: left;
    padding: auto;
    grid-area: header;
    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    
}


.header h1 {
    margin: 30px 20px 30px 10px;
    order: 1;

}

.main-content {
    grid-area: main;
}

h1, h2, h3, h4 {
    text-shadow: 5px 5px 5px rgb(109, 104, 104);
}

.main-content h3, .main-content p, .right-sidebar h3, .right-sidebar h4 {
    margin: 30px 10px;
}

.main-content span, .right-sidebar span {
    margin: 0;
}

.left-sidebar {
    background-color: rgb(241, 187, 209);
    grid-area: lsidebar;

}


.left-sidebar *, .right-sidebar *, .main-content * {
    margin: 20px 10px;
}

.right-sidebar {
    grid-area: rsidebar;

}

.footer{
    text-align: center;
    grid-area: footer;
    padding-bottom: 15px;
}

.footer > a {
    color:blue;
}

@media screen and (max-width: 650px) {

    .grid-container {
        margin: auto;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header"
        "main"
        "rsidebar"
        "lsidebar"
        "footer";
    }
  
  }

#all-pokemon {
    background-color: rgb(248, 246, 246);
    text-align: center;
    width: 90%;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgb(168, 139, 144);
}

#all-pokemon tr:nth-child(even) {
    background-color: rgb(238, 143, 238);
}

#all-pokemon td {
    border-radius: 10px;
}

.typeinfo table {
    width: 100%;
    border: 1px solid black;
    margin: auto 5px;
    border-collapse: collapse;
    white-space: nowrap;
    background-color: oldlace;
}

.typeinfo table th {
    padding: 0 40px;
    background-color: oldlace;
    text-align: center;
}

.typeinfo table td{
    padding: 0 5px;
    text-align: left;
}

.typeinfo tr:nth-child(odd) {
    background-color: rgb(228, 179, 212);
}

#offense, #defense {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 8px 8px 8px rgb(145, 121, 121);
}

#typelist {
    font-weight: bold;
    margin-left: 5px;
}

#img-container {
    text-align: center;
}

#pokeimg {
    transition: transform 2s ease-in;
}

#pokeimg:hover {
    transform: rotate(360deg) scale(1.5);
    filter: contrast(150%) drop-shadow(16px 16px 10px rgb(19, 18, 18));
}

.pokeSelected {
    font-weight: bolder;
    border: 5px solid rgb(59, 7, 59);
    box-shadow:  6px 6px 6px rgba(170, 165, 165, 0.1);
    border-radius: 10px;
}


#flippokemon {
    width: 80px;
    height: 80px;
    order: 0;
    margin-left: 10px;
    transition: transform 500ms ease-in-out;
    animation: rotation 500ms 1 linear;
}

#movepokemon {
    width: 60px;
    height: 60px;
    order: 2;
    animation: moving 400ms ease forwards;
   
}

#flippokemon:hover {
    transform: scaleX(-1);
}


@keyframes rotation {
    from {
        opacity: 0; transform: scale(0); 
    }
    to {
      opacity: 1; transform: scale(1); 
    }
}

@keyframes moving {
    from{
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(60deg);
        filter: contrast(150%) drop-shadow(15px 15px 5px rgb(252, 67, 21));
    }
    40% {
        transform: rotate(120deg);
        filter: contrast(150%) drop-shadow(10px 10px 5px rgb(252, 67, 21));
    }
    80% {
        transform: rotate(180deg);
        filter: contrast(150%) drop-shadow(5px 5px 5px rgb(252, 67, 21));
    }
    to {
        transform: rotate(360deg);
    }
    

}
